head
{
	background-image = url("logo.png")
}
.mef1
{
background-image: url("Fond.jpg");
background-size: cover;
	background-attachment:fixed;
}
.mef2
{
	background-image: url("minecraft.jpg");
	background-repeat : no-repeat;
	background-size: cover;
	background-attachment:fixed;
	
}
.mef3
{
font-size : 15px;
color : black;	

  text-align: center;
}
.mef4
{text-align:left ;
background-color : rgba(158,158,158,0.3);
color: black;
text-align:center;
}
.mef5
{
background-image : url("loll.jpg");
background-size: cover;
	background-attachment:fixed;
}
.mef6
{
	
color: black;	
background-color : rgba(158,158,158,0.3);
font-size: 1.4em;
}
.mef7
{
background-image: url("wow.jpg");
background-size: cover;
	background-attachment:fixed;
}
.mef8
{
background-image : url("Fond2.jpg");	
background-size: cover;
	background-attachment:fixed;
}
.mef9
{
font-size : 1em;
color : black;	

text-align: center;
}
.mef10
{
background-image : url("r6.jpg");	
background-size: cover; 
	background-attachment:fixed;

}

.mef11 
{
	background-image : url("naze.webp");
	background-size: cover;	
		background-attachment:fixed;
	
}
div
{
    color: white;}
	
h1
{
	text-align: center;
	color : red;
}
h2
{
	text-align: center;
	color : red;
}
p
{
	text-align: center;
}
div{ 
font-size : 1.1em;
}
p{ font-size: 1.2em;}
a{color: rgb(254, 27, 0);}


b{color: rgb(255, 216, 0);}
table{margin : auto;
	text-align : center;}